<!DOCTYPE html>
<html>
<head>
  <title>Assesment</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', pages_index_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'About us', pages_about_path %></li>
        <li><%= link_to 'Contact', pages_contact_path %></li>
      </ul>
    </nav>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
